<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesi贸n</title>
</head>
<body>
  <h1>Inicio de Sesi贸n</h1>
  <a href="/auth/google">Iniciar sesi贸n con Google</a><br>
  <a href="/auth/github">Iniciar sesi贸n con GitHub</a>
</body>
</html>
